<!-- Simditor WYSIWYG -->
<link href="{{ asset(adminAsset('lib/simditor-2.3.6/styles/simditor.css')) }}" rel="stylesheet" type="text/css" />
<script src="{{ asset(adminAsset('lib/simditor-2.3.6/scripts/module.min.js')) }}"></script>
<script src="{{ asset(adminAsset('lib/simditor-2.3.6/scripts/uploader.min.js')) }}"></script>
<script src="{{ asset(adminAsset('lib/simditor-2.3.6/scripts/hotkeys.min.js')) }}"></script>
<script src="{{ asset(adminAsset('lib/simditor-2.3.6/scripts/simditor.min.js')) }}"></script>

<!-- HTML5 Image Uploader -->
<link href="{{ asset(adminAsset('css/html5imageuploader/uploader-style.css')) }}" rel="stylesheet" type="text/css" />
<script src="{{ asset(adminAsset('js/html5imageuploader/jquery.html5uploader-1.1.js')) }}"></script>
<script src="{{ asset(adminAsset('js/html5imageuploader/exif.js')) }}"></script>

<!-- JQuery Sortable -->
<script src="{{ asset(adminAsset('js/jquery-sortable.js')) }}"></script>

<script type="text/html" id="slot-submit-form-tpl">

    <div class="slot-submit text-center">
        <button {% if entity.id > 0 %} data-parent-id="{{ entity.id }}"{% endif %} class="btn btn-success slot-submit" type="button">Save Section</button>
        <div style="display:none;" class="text-center spinner">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
        </div>
    </div>

    <div class="slot-title form-group">
        <label class="control-label" for="content_slot[title]">Title</label>
        <input name="content_slot[title]" class="form-control" value="" />
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="col-sm-12">
            {% for code, label in content_types %}
                <div class="radio">
                    <label class="radio">
                        <input type="radio" name="content_slot[content_type]" value="{{ code }}" {% if code == 'image' %}checked="checked"{% endif %} /> {{ label }}
                    </label>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="slot-type slot-image">
                <button type="button" class="btn resetupload">Upload New Image</button>
                <!-- Error message placeholder. -->
                <p class="help-block error errormessages"></p>

                <!-- Drop media element. -->
                <div class="slot-media-drop">

                    <div class="dropbox media-drop-placeholder">
                        <div class="media-drop-placeholder-uploadbutton">
                            <input id="realUploadBtn" name="media-drop-placeholder-file" type="file" accept="image/*" tabindex="-1"/>
                            <button id="uploadBtn" type="button" class="btn" tabindex="-1">Browse Files&hellip;</button>
                        </div>
                        <span class="media-drop-placeholder-or">or</span>
                        <span class="media-drop-placeholder-title">Drop Image Here</span>
                    </div>

                    <!-- Image placeholder. -->
                    <div class="droppedimage"></div>

                </div>
            </div>
            <div class="slot-embed-textarea form-group slot-type slot-embed" style="display:none;">
                <label class="control-label" for="content_slot[embed_code]">Embed Code</label>
                <textarea name="content_slot[embed_code]" class="form-control"></textarea>
            </div>
            <div class="slot-embed-textarea form-group slot-type slot-image-url"  style="display:none;">
                <label class="control-label" for="content_slot[url]">Image URL</label>
                <textarea name="content_slot[url]" class="form-control"></textarea>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="slot-bodytext form-group">
                <label class="control-label" for="content_slot[body_text]">Text / HTML
                    <a href="#" class="slot-body-wysiwyg-toggle">plain text</a>
                </label>
                <div class="slot-body-container">
                    <textarea name="content_slot[body_text]" class="form-control wysiwyg"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="slot-submit col-sm-12">
            <button {% if entity.id > 0 %} data-parent-id="{{ entity.id }}"{% endif %} class="btn btn-success slot-submit" type="button">Save Section</button>
            <div style="display:none;" class="spinner">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
            </div>
        </div>
    </div>

</script>

<script id="slot-li" type="text/html">

    <li data-id="<%- id %>" class="panel panel-info">
        <div class="panel-heading">
            <a role="button" class="btn btn-default slot-toggle pull-left" href="#">
                <span class=""><i class="glyphicon glyphicon-minus"> </i></span>
            </a>
            &nbsp;
            <%- title %>

            <a href="#" class="pull-right slot-trash"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>
        <div class="panel-body">

            <div class="slot-title form-group">
                <label class="control-label" for="slots[<%- id %>][title]">Title</label>
                <input name="slots[<%- id %>][title]" class="form-control" value="<%- title %>" />
            </div>

            <% if (embed_code != null && embed_code.length > 10) { %>
            <div class="slot-embed slot-embed-<%- id %>">
                <%= embed_code %>
            </div>
            <div class="slot-embed-textarea form-group">
                <label class="control-label" for="slots[<%- id %>][embed_code]">Embed Code</label>
                <textarea name="slots[<%- id %>][embed_code]" class="form-control"><%- embed_code %></textarea>
            </div>
            <% } %>

            <% if (url != null && url.length > 5) { %>
            <div class="slot-image">
                <img class="img-responsive" src="<%- url %>" />
            </div>
            <div class="slot-url form-group">
                <label class="control-label" for="slots[<%- id %>][url]">Image URL</label>
                <input name="slots[<%- id %>][url]" class="form-control" value="<%- url %>" />
            </div>
            <% } %>

            <% if (path != null && path.length > 3) { %>
            <div class="slot-image">
                <img class="img-responsive" src="/<%- path %>" />
            </div>
            <% } %>

            <div class="slot-bodytext form-group">
                <label class="control-label" for="slots[<%- id %>][body_text]">Text / HTML
                    <a href="#" class="slot-body-toggle">show</a>
                    &nbsp; | &nbsp;
                    <a href="#" class="slot-body-wysiwyg-toggle">plain text</a></label>
                <div class="slot-body-container">
                    <textarea name="slots[<%- id %>][body_text]" class="form-control wysiwyg"><%- body_text %></textarea>
                </div>
            </div>

            <input type="hidden" name="slots[<%- id %>][content_type]" value="<%- content_type %>" />
            <input type="hidden" name="slots[<%- id %>][id]" value="<%- id %>" />
        </div>
    </li>

</script>

<script src="{{ asset(adminAsset('js/slot-editor.js')) }}"></script>
<script type="text/javascript">
$(function(){
    var slotEditor = new SlotEditor({
        container: $('#section-{{ section_id }}'),
        insertAction: '{{ path('cart_admin_content_slot_create') }}' + '?format=json',
        updateAction: '{{ path('cart_admin_content_slot_update', {'id': 1234 }) }}'+ '?format=json',
        deleteAction: '{{ path('cart_admin_content_slot_delete', {'id': 1234 }) }}'+ '?format=json',
        uploadPostUrl: '{{ path('cart_admin_image_upload_slot') }}',
        imageLoadUrl: '{{ path('cart_admin_image') }}'
    });
});
</script>

{# Let page load quickly and add embed after #}
{% for slot in slots %}
    {% if slot.embedcode|length > 10 %}

    <script id="slot-embed-tpl-{{ slot.id }}" type="text/html">
        {{ slot.embedcode|raw }}
    </script>

    <script type="text/javascript">
        $(function(){
            var html = $('#slot-embed-tpl-{{ slot.id }}').html();
            $('div.slot-embed-{{ slot.id }}').append(html);
        });
    </script>

    {% endif %}
{% endfor %}
