{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Edit Discount{% endblock %}
{% block subheader_text %}Name: {{ entity.name }}{% endblock %}
{% block back_button %}
     <a href="{{ renderGridBackUrl('cart_admin_discount') }}" class="btn btn-default">Back</a>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset(adminAsset('css/discount.css')) }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset(adminAsset('js/condition-widget.js')) }}"></script>
    <script type="text/javascript">
        $(function() {

            var widget = new ConditionWidget({
                containerEl: $('{{ container }}'),
                targetInput: $('{{ target_input }}'),
                conditionInput: $('{{ condition_input }}'),
                operators: {{ operators_json|raw }},
                logicalOperators: {{ logical_operators_json|raw }},
                targetLogicalOperators: {{ target_logical_operators_json|raw }},
                containerOperators: {{ container_operators_json|raw }},
                varSets: {{ var_sets|raw }}
            });

            formWidget.addSubmitCallback(function(){
                widget.serialize();
                return true;
            });

            var appliedToEl = $('#discount_applied_to');
            var builderEl = $('ul.builder');

            function updateAppliedTo() {
                if (appliedToEl.val() == 'specified') {
                    builderEl.each(function(){
                        $(this).parent().show();
                    });
                } else {
                    builderEl.each(function(){
                        $(this).parent().hide();
                    });
                }
                return true;
            }

            appliedToEl.on('change', updateAppliedTo);
            updateAppliedTo();
        });
    </script>
{% endblock %}
