{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Create Discount{% endblock %}
{% block subheader_text %}Discount Form{% endblock %}
{% block above_form %}
    <div class="row">
        <div class="col-xs-12 header-buttons">
            <a href="{{ renderGridBackUrl('cart_admin_discount') }}" class="btn btn-default">Back</a>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mobilecartadmin/css/discount.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/mobilecartadmin/js/ConditionWidget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mobilecartadmin/js/discount-global.js') }}"></script>
    <script type="text/javascript">
        $(function() {

            var widget = new ConditionWidget({
                containerEl: $('{{ container }}'),
                targetInput: $('{{ condition_input }}'),
                conditionInput: $('{{ target_input }}'),
                operators: {{ operators_json|raw }},
                logicalOperators: {{ logical_operators_json|raw }},
                varSets: {{ var_sets|raw }}
            });

            $('#builder-submit').click(function(e) {
                widget.serialize();
                return true;
            });

            $('a.builder-serialize').click(function(e) {
                e.preventDefault();
                widget.serialize();
            });

        });
    </script>
{% endblock %}
