
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-options" data-toggle="tab" aria-expanded="true">Selected Options</a>
    </li>
    <li class="">
        <a href="#section-products" data-toggle="tab" aria-expanded="false">Selected Products</a>
    </li>
    <li class="">
        <a href="#section-search" data-toggle="tab" aria-expanded="false">Search Products</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-options" class="tab-pane fade active in">
        <select name="config_vars[]" class="form-control" multiple="multiple">
            {% for code, var in vars %}
                <option value="{{ code }}"{% if var.checked is defined %} selected="selected"{% endif %}>{{ var.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="section-products" class="tab-pane fade">

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="">
                            <tr>
                                <th>&nbsp;</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Sku</th>
                                <th>Price</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody class="child-product-list">
                        {% for product in child_products %}
                            <tr>
                                <td><input type="checkbox" id="child-id-{{ product.id }}" name="simple_ids[{{ product.id }}]" value="{{ product.id }}" checked="checked" /></td>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.qty }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="section-search" class="tab-pane fade">

        <div class="panel panel-default adv-filters tab-panel">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="pull-left btn btn-default" href="#{{ section_id }}-filters-panel">Basic Filters</a>
                    </div>

                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-clear" type="button" style="visibility:hidden;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control search-query" name="q" value="" placeholder="Search..." />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="pull-right adv-filters-buttons">
                            <button class="btn btn-default adv-filters-search">
                                <i class="fa fa-search"> </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse" id="{{ section_id }}-filters-panel">
                <div id="{{ section_id }}-filters-container" class="filters-container">

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2 pull-left">
                        <div class="input-group mass-actions">
                            <div class="input-group-btn">
                                <button class="btn btn-default check-all" type="button">
                                    <input type="checkbox" value="1" class="check-all" name="configproduct_check_all" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-6 grid-pager">

                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">

                        </thead>
                        <tbody class="product-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
