{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Edit Customer{% endblock %}
{% block subheader_text %}{{ entity.billingfirstname }} {{ entity.billinglastname }}{% endblock %}
{% block back_button %}
    <a href="{{ renderGridBackUrl('cart_admin_customer') }}" class="btn btn-default">Back</a>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(function() {

            var checkbox = $('input#customer_is_shipping_same');

            function copyBillingToShipping() {
                $('.billing-input').each(function(){
                    var input = $(this);
                    var id = input.attr('id');
                    var tagName = input.prop('tagName');
                    var shippingId = id.replace('billing', 'shipping');
                    var shippingEl = $('#' + shippingId);
                    if (shippingEl) {
                        if (tagName == 'SELECT') {
                            shippingEl.val(input.val()).prop('selected', true);
                        } else {
                            shippingEl.val(input.val());
                        }
                    }
                });
            }

            checkbox.on('change', function(){
                if (checkbox.is(':checked')) {
                    copyBillingToShipping();
                }
            });

            if (checkbox.is(':checked')) {
                copyBillingToShipping();
            }

        });
    </script>

    <script src="{{ asset(adminAsset('js/country-region-widget.js')) }}" type="text/javascript"></script>

    <script type="text/javascript">
        var countryRegions = {{ country_regions|json_encode|raw }};
        var countryRegionWidget = new CountryRegionWidget({
            countryRegions: countryRegions
        });
    </script>

{% endblock %}
