<ul class="nav nav-tabs">
    <li class="active in">
        <a href="#section-customer" data-toggle="tab" aria-expanded="false">Customer</a>
    </li>
    <li class="">
        <a href="#section-customers" data-toggle="tab" aria-expanded="true">Search</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-customer" class="tab-pane fade active in">
        <div class="panel panel-default tab-panel">
            <div class="panel-body">
                {% for field in form_elements %}
                    {{ form_row(form.offsetGet(field)) }}
                {% endfor %}
            </div>
        </div>
        <div class="hide">
            <input type="hidden" name="customer_id" id="customer_id" value="{{ customer_id }}" />
        </div>
    </div>
    <div id="section-customers" class="tab-pane fade">

        <div class="panel panel-default adv-filters tab-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <a data-toggle="collapse" data-parent="#accordion" class="pull-left btn btn-default" href="#{{ section_id }}-filters-panel">Basic Filters</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right adv-filters-buttons">
                            <button class="btn btn-primary adv-filters-search">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse in" id="{{ section_id }}-filters-panel">
                <div id="{{ section_id }}-filters-container" class="filters-container">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-5 grid-pager pull-left">

                    </div>
                    <div class="col-md-3">

                        <div class="pull-left">
                            <label>Show</label>
                            <select name="per_page">
                                <option value="15">15</option>
                                <option selected="selected" value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

            </div>
            <div class="panel-body listing-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">

                        </thead>
                        <tbody class="customer-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

