<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-payments" data-toggle="tab" aria-expanded="false">Payments</a>
    </li>
    <li>
        <a class="btn btn-success" href="{{ path('cart_admin_order_payment_new', {'order_id': entity.id }) }}">Create</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-payments" class="tab-pane tab-panel fade active in">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <tr>
                    <th>Method</th>
                    <th>Code</th>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>Is Refund</th>
                </tr>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.label }}</td>
                    <td>{{ payment.code }}</td>
                    <td>{{ payment.referencenbr }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.isrefund }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
