<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-shipments" data-toggle="tab" aria-expanded="false">Shipments</a>
    </li>
    <!--
    <li class="">
        <a href="#section-shipping" data-toggle="tab" aria-expanded="true">Add Shipment</a>
    </li>
    -->
</ul>
<div class="tab-content">
    <div id="section-shipments" class="tab-pane tab-panel fade active in">

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead class="">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Method</th>
                        <th>Tracking</th>
                    </tr>
                </thead>
                <tbody class="selected-method-list">
                {% for shipment in shipments %}
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ shipment.name }}</td>
                    <td>{{ shipment.street }}
                        {% if shipment.street2|length >0 %}<br>{{ shipment.street2 }}{% endif %}
                        <br>{{ shipment.city }}, {{ shipment.region }} {{ shipment.postcode }}
                        <br>{{ shipment.countryid }}
                    </td>
                    <td>{{ shipment.company }} {{ shipment.method }}</td>
                    <td>
                        <textarea class="form-control" name="tracking[{{ shipment.id }}]">{{ shipment.tracking }}</textarea>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--
    <div id="section-shipping" class="tab-pane tab-panel fade">
        <table class="table table-bordered table-striped table-hover dataTable">
            <thead class="">
                <tr>
                    <th>&nbsp;</th>
                    <th>Company</th>
                    <th>Method</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody class="method-list">

            </tbody>
        </table>
    </div>
    -->
</div>
