
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-image-list" data-toggle="tab" aria-expanded="true">Selected Images</a>
    </li>
    <li class="">
        <a href="#section-image-upload" data-toggle="tab" aria-expanded="false">Upload</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-image-list" class="tab-pane fade active in">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Size</th>
                        <th>Code</th>
                        <th>Sort</th>
                        <th>Default</th>
                        <th>Alt. Text</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                    <tr data-id="{{ image.getId() }}">
                        <td><a target="_blank" href="{{ asset(image.path) }}">View</a></td>
                        <td>{% if image.getWidth() > 0 %}{{ image.getWidth() }} x {{ image.getHeight() }}{% endif %}</td>
                        <td>{{ image.getCode() }}</td>
                        <td><input type="number" class="form-control image-sort-order" value="{% if image.getSortOrder() > 0 %}{{ image.getSortOrder() }}{% else %}1{% endif %}" /></td>
                        <td><input type="checkbox" class="image-is-default" value="1"{% if image.getIsDefault() == 1 %} checked="checked"{% endif %} /></td>
                        <td><textarea class="form-control image-alt-text">{{ image.getAltText() }}</textarea></td>
                        <td><a href="#" class="btn btn-default image-remove-btn"><i class="glyphicon glyphicon-remove"> </i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="section-image-upload" class="tab-pane fade">

        <div class="panel panel-default">
            <div class="panel-heading">
                Choose Image Size and Select File
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% set x = 0 %}
                        {% for code, size in image_sizes %}
                        <div class="radio">
                            <label class="radio">
                                <input type="radio"
                                       name="targetsize"
                                       data-code="{{ code }}"
                                       data-width="{{ size.width }}"
                                       data-height="{{ size.height }}"
                                       value="{{ size.width }},{{ size.height }}"
                                       {% if x == 0 %}checked="checked"{% endif %}
                                        />
                                {{ size.width }} x {{ size.height }} : {{ code }}
                            </label>
                        </div>
                            {% set x = x + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button id="resetupload" type="button" class="btn">Upload new image</button>
                        <!-- Error message placeholder. -->
                        <p class="help-block error errormessages"></p>

                        <!-- Drop media element. -->
                        <div class="media-drop">

                            <div id="dropbox" class="media-drop-placeholder">
                                <div class="media-drop-placeholder-uploadbutton">
                                    <input id="realUploadBtn" name="media-drop-placeholder-file" type="file" accept="image/*" tabindex="-1"/>
                                    <button id="uploadBtn" type="button" class="btn" tabindex="-1">Browse file&hellip;</button>
                                </div>
                                <span class="media-drop-placeholder-or">or</span>
                                <span class="media-drop-placeholder-title">Drop Image Here</span>
                            </div>

                            <!-- Image placeholder. -->
                            <div id="droppedimage"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="images_json" name="images_json" value="{}" />
    </div>
</div>

